@import './bootstrap.css';

html {
  background: #fff;
  height: 100%;
}


body {
  font-family: "IBM Plex Sans", "Monaco", "JetBrains Mono";

  position: relative;
  margin-top: 0;
  margin-bottom: 0;

  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;

  min-height: 98vh;

  padding-top: 1em;
  padding-bottom: 1em;

}

h1, h2, h3, h4, h5, h6 {
  font-family: "Work Sans", "Open Sans", "Product Sans", "Noto Sans";
}

input, label, button {
  font-family: inherit;
}

#app {
  position: relative;

  max-width: 85em;
  margin-left: auto;
  margin-right: auto;
  
  background: rgb(250, 250, 250);

  padding-top: 1em;
}

nav h1 {
  font-family: "Noto Sans";
  font-weight: 900;
}

header > h2 {
  font-family: "Noto Sans";
  text-transform: uppercase;
  font-weight: 500;
}

#app {
  min-height: 94vh;
  height: 100%;
}

#app > .container {
  min-height: 90vh;
}

#main {
  min-height: 75vh;
}

#new_list {
  min-height: 70vh;
}

.hover-danger:hover {
  background-color: #b9171c !important;
}

.custom-checkbox {
  border: 1px solid #ced4da;
}

.dropdown-item:hover label,
.dropdown-item label:hover,
.dropdown-item:focus label,
.dropdown-item label:focus {
  color: #fff;
}

.py-half {
  padding-top: 0.125rem !important;
  padding-bottom: 0.125rem !important;
}

.w-10 {
  width: 5% !important;
}

.w-30 {
  width: 30% !important;
}

.w-35 {
  width: 35% !important;
}

.w-40 {
  width: 40% !important;
}

.w-45 {
  width: 45% !important;
}

.w-60 {
  width: 60% !important;
}

.w-85 {
  width: 85% !important;
}


.btn, .form-check-label {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media (min-width: 768px) {
  .col-md-2_half {
    flex: 0 0 auto;
    width: 19.66666667%;
  }
}

.px-6 {
  padding-right: 4rem !important;
  padding-left: 4rem !important;
}
